name: Backend CI/CD

on:
  push:
    branches: [ "main" ]
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"

jobs:

  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: |
          pip install -r requirements.txt
          pip install pytest pytest-asyncio httpx ruff

      - run: ruff check app/ --ignore E501,F401
      - run: pytest tests/ -v

  docker_deploy:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Backend Docker Image
        env:
          ECR_URI: ${{ secrets.ECR_BACKEND_URI }}
        run: |
          docker build -t $ECR_URI:latest ./backend
          docker push $ECR_URI:latest

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name mycluster

      - name: Deploy Backend to EKS
        run: |
          kubectl set image deployment/backend-deployment backend-container=${{ secrets.ECR_BACKEND_URI }}:latest
          kubectl rollout restart deployment/backend-deployment
